
.detail {

    &__heading {
        font-size: 24px;
        margin: 10px 0 20px 0;
    }

    &__figure {
        width: 100%;
        height: 300px;
        position: relative;
        overflow: hidden;
    }

    &__image {
        width: 100%;
    }

    &__desc {
        font-size: 16px;
        line-height: 1.5em;
    }

}