
.empty {
    position: relative;
    background: $pale-gray;
    width: 100%;
    height: 100%;
    min-height: 150px;
    text-align: center;

    &__message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $dark-gray;
        font-size: 22px;
    }
}