
.grid-tile {
    width: 100%;
    height: 330px;
    margin: 0 0 20px 0;

    &__figure {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-height: 300px;
        text-align: center;
    }

    &__image {
        width: 100%;
    }

    &__heading {
        max-height: 30px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

}