
.loader{
    width: 100%;
    height: 100%;
    background: transparent;
    text-align: center;

    &__spinner {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        display: inline-block;
        position: relative;
        margin: 0 auto;

        &:before, &:after{
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 10px solid transparent;
            border-top-color: $marvel-red;
        }

        &:before{
            z-index: 100;
            animation: spin 1s infinite;
        }

        &:after{
            border: 10px solid lighten($marvel-red, 20%);
        }
    }

    @keyframes spin{
        0%{
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(360deg);
        }
    }
}
