

.navigation {

    &__button {
        display: inline-block;
        padding: 10px 15px;
        background: $marvel-red;
        font-size: 18px;
        color: white;

        &:hover {
            box-shadow: 0 0 5px 3px lighten($marvel-red, 20%);
            text-decoration: none;
            color: white;
        }

        &--floating {
            position: fixed;
            z-index: 1565;
            left: 10px;
            top: 10px;

            @media all and (max-width: $screen-md-max) {
                left: auto;
                right: 150px;
                box-shadow: 0 0 5px 3px white;
            }

            @media all and (max-width: $screen-sm-max) {
                left: auto;
                right: 10px;
                top: auto;
                bottom: 10px;
                box-shadow: 0 0 5px 3px white;
            }
        }
    }

}