
.search {

    &__wrapper {
        display: block;
        text-align: center;
    }

    &__bar {
        width: 300px;
        max-width: 100%;
        padding: 5px 15px;
        border: 2px solid $dark-gray;
        border-radius: 8px;
        text-align: center;
        font-size: 18px;
        outline: none;

        &:focus {
            border: 2px solid $marvel-red;
        }
    }

    &__button {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 10px;
        border: none;
        border-radius: 50%;
        background: lighten($marvel-red, 10%);
        font-size: 22px;
        font-weight: bold;
        color: white;

        &:disabled {
            background: $pale-gray;
            color: $dark-gray;
        }

        &:hover {
            background: $marvel-red;
            color: white;
        }
    }

}