
.search-picker {
    display: block;
    text-align: center;

    &__button {
        display: inline-block;
        width: 150px;
        height: 150px;
        margin: 20px;
        border: none;
        background: $pale-gray;
        color: $dark-gray;
        font-size: 20px;
        font-weight: bold;

        &--active {
            background: $marvel-red;
            color: white;
        }
    }
}